:root.theme-light {
  --cart-color-text: #353430;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --image-bg: url(../images/cover-image-light.png);
  --display-none: none;
  --border-hover-color: rgb(50, 49, 45, 0.4);
  --decor-color: #ff8dcb;
  --title-color: #ffc2e6;
  --box-shadow: #FF8DCB;
  --cart-color-text:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --cart-color-text: #353430;
    --bg-color: #fff;
    --text-color: #353430;
    --image-bg: url(../images/cover-image-light.png);
    --display-none: none;
    --border-hover-color: rgb(50, 49, 45, 0.4);
    --decor-color: #ff8dcb;
    --title-color: #ffc2e6;
  }
}
