.page {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background-image: var(--image-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  block-size: 100vh;
  inline-size: 100%;

}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  background-attachment: fixed;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.header__rec {
  position: absolute;
  top: 12px;
  right: 38px;
  display: var(--display-none);
  color: #ff0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--text-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: 1px solid #ff0070;
  color: var(--text-color);
  font-family: var(--font-family);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: inherit;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--box-shadow);
}

.header__text {
  align-self: center;
  width: 355px;
  height: 117px;
  color: #000028;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.main {
  padding: 41px 10px;
}

.content__title {
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.content__subtitle {
  margin-block-end: 19px;
  color: #000028;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.content__list {
  display: grid;
  gap: 22px;
}

.cart__title {
  margin-block-end: 14px;
  color: #000028;
  color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.cart__text {
  color: var(--cart-color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.cart__text-link {
  color: var(--cart-color-text);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--text-color);
}
.title-decor {
  color: var(--decor-color-text);
  background-color: var(--decor-color);
}

.content-midle {
}

.content-buttom {
}

.content__image {
}

.content__image-title {
}

.gallery {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  box-sizing: border-box;
  margin-block-end: 40px;
  padding: 0 10px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 116px;
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--box-shadow);
}
/* Hover */

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

a:hover {
  text-decoration: underline;
}

/* Focus */

button:focus-visible {
  border-bottom: 1px solid var(--text-color);
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
  outline: none;
}

.header__theme-menu-button:has(.header__theme-menu-button:focus-visible) {
  border: 1px solid transparent;
}

/* Active */
@media (width >= 768px) {
  .header {
    padding: 15px 21px 10px 1px;
  }

  .decorated-zone::before {
    top: 21px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 21px;
    left: 20px;
  }

  .header__rec {
    top: 21px;
    right: 48px;
  }

  .header__rec::after {
    top: 7px;
    right: -15px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    align-self: center;
  }

  .content-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
  }

  .cart-text {
    max-width: 100%;
  }

  .main {
    padding: 61px 21px 30px;
  }

  .content-top {
    gap: 20px;
    margin-bottom: 83px;
  }

  .section-content {
    margin-bottom: 20px;
    max-width: 236px;
  }

  .cart__title {
    margin-block-end: 12px;
  }

  .content__list {
    gap: 23px;
  }

  .content-midle {
    margin-bottom: 79px;
  }
  .content-buttom {
    display: grid;
    gap: 20px;
    margin-bottom: 77px;
  }

  .content-buttom .content__title {
    grid-column: 1/2;
    grid-row: 1 / auto;
  }

  .content-buttom .content__list {
    grid-column: 2/3;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 192px 230px 318px;
    grid-auto-flow: dense;
    gap: 20px;
    padding: 0;
  }

  .gallery__item {
    margin: 0;
  }

  .content__image-title {
    margin-bottom: 18px;
  }
  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 span;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 17px 1px 0px 0px;
    margin-bottom: 15px;
  }

  .decorated-zone::before {
    top: 37px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 3px;
    left: 20px;
  }

  .header__rec {
    top: 37px;
    right: 48px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    width: 491px;
    height: 71px;
    margin-inline-end: 20px;
    font-size: 18px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 19px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .content-top {
    grid-template-columns: 1fr 2fr;
    gap: 9px;
  }

  .cart__title {
    margin-block-end: 12px;
  }

  .content-midle {
    display: grid;
    margin-bottom: 86px;
  }
  .content__title {
    max-width: 315px;
  }

  .content-midle .content__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
  }

  .content-buttom {
    gap: 19px;
  }

  .content__subtitle {
    margin-block-end: 18px;
  }
  .content-buttom .content__list {
    display: grid;
    gap: 21px;
  }

  .gallery {
    grid-template-rows: 260px 315px 433px;
  }
  .content__image-title {
    margin-bottom: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0px var(--box-shadow);
    color: var(--title-color);
  }
}
