.page {
  object-position: center;
  font-family: var(--font-family), "Arial", sans-serif;
  background-color: var(--bg-color), #000028;
  background-image: var(--image-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100vh;
  inline-size: 100%;
  
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  background-attachment: fixed;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.header__rec {
  position: absolute;
  top: 12px;
  right: 38px;
  display: var(--display-none);
  color: #ff0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--text-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 4px 13px;
  color: var(--text-color);
  font-family: var(--font-family), "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: inherit;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-family: var(--font-family), "Arial", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--box-shadow);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 #ff0070;
}

.header__text {
  align-self: center;
  padding: 1px 0;
  color: #000028;
  font-family: var(--font-family), "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.title-decor {
  color: var(--color-decor);
  background-color: var(--bg-decor);
}

.content {
  padding: 40px 10px;
}

.card-block {
  margin-block-end: 50px;
}

.card-block__title {
  margin-block-end: 20px;
  color: var(--section-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.title__accent {
  color: #000028;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.card-block__subtitle {
  margin-block-end: 20px;
  font-size: 18px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  margin-block-end: 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  color: var(--card-color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.gallery__grid {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  box-sizing: border-box;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 116px;
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--box-shadow);
}
/* Hover */

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-color-text);
}

/* Focus */
button,
a:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--text-color);
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--focus-link);
  outline: none;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    padding-left: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 21px;
    right: 48px;
  }

  .header__rec::after {
    top: 7px;
    right: -15px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    align-self: center;
    max-width: 364px;
  }

  .content {
    padding: 60px 20px;
  }

  .card-block{
    margin-bottom: 80px;
  }

  .card-block_column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 81px;
  }

  .card-block__title {
    max-width: 236px;
  }

  .card__list {
    gap: 20px;
  }

  .card-text {
    max-width: 100%;
  }

  .card__title {
    margin-block-end: 10px;
  }

  .content__list {
    gap: 23px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 192px 230px 318px;
    grid-auto-flow: dense;
    gap: 20px;
    padding: 0;
  }

  .gallery__item {
    margin: 0;
  }

  .gallery__title{
    margin-bottom: 20px;
  }

  .content__image-title {
    margin-bottom: 18px;
  }
  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 span;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    padding-left: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 21px;
    right: 48px;
  }

  .header__rec::after {
    top: 7px;
    right: -15px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    align-self: center;
    max-width: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin-left: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .card-block_column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 11px;
    
  }

  .card-block__title {
    max-width: 315px;
  }

  .card__list {
    gap: 20px;
  }

  .card-text {
    max-width: 100%;
  }

  .card-block_row {
    flex-direction: row;
    
  }

  .card-block_row .card__item {
    max-width: 315px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 260px 315px 433px;
    grid-auto-flow: dense;
    gap: 20px;
    padding: 0;
  }

  .gallery__item {
    margin: 0;
  }

  .content__image-title {
    margin-bottom: 18px;
  }

  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 span;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
