/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --image-bg: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #ff0070;
  --font-family: "IBM Plex mono", sans-serif;
  --decor-color: #ff0070;
  --decor-color-text: #000028;
  --cart-color-text: #f1b2ce;
  --title-color: #db00ff;
  --display-none: block;
  --box-shadow: #ff0070;
  --border-hover-color: rgb(255, 0, 112, 0.4);
}
